<!DOCTYPE html>
<html lang="en">
    <nav th:fragment="nav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Welcome to Code Fellowship, <span th:text="${loggedInUser.username}"></span></a>
            </div>
            <div th:if="${loggedInUser}">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/myprofile">View My Profile</a></li>
                    <li><a href="/post">Make a Post</a></li>
                    <li><a href="/users">View All Users</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>

            <div th:unless="${loggedInUser}">
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </nav>
</html>