<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <div class="container">
        <h1>Code Fellowship Users</h1>

        <div th:each="user : ${allUsers}">
            <img src="/profile.png" />
            <p>Username: <span th:text="${user.username}"></span></p>
            <p>First Name: <span th:text="${user.firstName}"></span></p>
            <p>Last Name: <span th:text="${user.lastName}"></span></p>
            <p>Bio: <span th:text="${user.bio}"></span></p>
            <p>Posts: </p>
            <ul th:each="post : ${user.posts}">
                <li th:text="${post.createdAt}"></li>
                <li th:text="${post.body}"></li>
            </ul>
            <form method="POST" th:action="'/users/' + ${user.id} + '/following'">
                <button type="submit" name="follow" value="follow" class="btn btn-primary btn-md">Follow</button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>