<!DOCTYPE html>
<html lang="en" layout:decorator="templates/feed.html">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>

    <div th:replace="fragments/nav :: nav"></div>

    <div class="container">
        <h3>Posts from people you're following:</h3>

        <div th:each="people : ${followed}">
            <h4>Name: <a th:href="${'/users/' + people.id}"><span th:text="${people.username}"></span></a></h4>
            <div th:each="post : ${people.posts}">
                <p>Date: <span th:text="${post.createdAt}"></span></p>
                <p>Post: <span th:text="${post.body}"></span></p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>