<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css"/>

</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <h1><span th:text="${loggedInUser.username}"></span>'s Profile</h1>
    <img src="/profile.png" />
    <p>First Name: <span th:text="${loggedInUser.firstName}"></span></p>
    <p>Last Name: <span th:text="${loggedInUser.lastName}"></span></p>
    <p>Bio: <span th:text="${loggedInUser.bio}"></span></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>