<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <h1>Code Fellowship</h1>
    <div th:if="${loggedInUser}">
        Hello, <span th:text="${loggedInUser.name}"></span>
        <a href="/logout">Logout</a>
    </div>

    <div th:unless="${loggedInUser}">
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>